<div>
  <label for="selected-category">Please select a category: </label>
  <select id="selected-category" (change)="loadBots(selectedCategory.value)" #selectedCategory>
    <option [value]="''">Whatever</option>
    <option *ngFor="let category of categories">{{category}}</option>
  </select>
</div>
<div>
  <label for="selected-bot">Please select a bot: </label>
  <select id="selected-bot" #selectedBot>
    <option [value]="''">Whatevs</option>
    <option *ngFor="let bot of bots">{{bot.name}}</option>
  </select>
</div>
<input placeholder="Type the question" (input)="changeQuestion(questionText.value)" #questionText/>
<!--<button (click)="askQuestion(questionText.value)">Ask away!</button>-->
<p>{{answerText}}</p>
<p class="error-message">{{errorMessage}}</p>
